<aside class="col-md-4 blog-sidebar">
  <div class="p-4 mb-3 bg-light rounded">
    <h4 class="font-italic">About</h4>
    <p class="mb-0">Saw you downtown singing the Blues. Watch you circle the drain. Why don't you let me
      stop by? Heavy is the head that <em>wears the crown</em>. Yes, we make angels cry, raining down
      on earth from up above.</p>
  </div>

  <div class="p-4">
    <h4 class="font-italic">Elsewhere</h4>
    <ol style="display: flex" class="list-unstyled social-links">
      <li style="padding-right: 10px"><a href="https://github.com/grakov-dmitry"><%= fa_icon "github" %></a></li>
      <li style="padding-right: 10px"><a href="https://www.linkedin.com/in/%D0%B4%D0%BC%D0%B8%D1%82%D1%80%D0%B8%D0%B9-%D0%B3%D1%80%D0%B0%D0%BA%D0%BE%D0%B2-8664171ba/"><%= fa_icon "linkedin" %></a></li>
      <li><a href="https://www.instagram.com/dzimzimka"><%= fa_icon "instagram" %></a></li>
    </ol>
  </div>
</aside>